<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alina Glaubitz" />
	<meta name="keywords" content="alina,glaubitz,math,dartmouth,data,science" />
	<meta name="author" content="Alina Glaubitz" />
    <title>Notebook Dog vs Cat </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">Project Notebooks</a>
                <ul class="dropdown-menu">
                    <li><a href="/boxoffice_notebook">Box Office</a></li>
                    <li><a href="/dogvcat_notebook">Cats and Dogs</a></li>
                    <li><a href="/movies_notebook">Movie Recommendation</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">Demonstrations and Illustrations</a>
                <ul class="dropdown-menu">
                    <li><a href="/boxoffice_dashboard">Box Office Forecast - Demo</a></li>
                    <li><a href="/movie_recommendation_content">Movie Recommendation - Demo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">Academic</a>
                <ul class="dropdown-menu">
                    <li><a href="/academic">Research</a></li>
                    <li><a href="/teaching">Presentation</a></li>
                </ul>
            </li>
        </ul>
    </nav>
        <iframe src="/dashboard/" width="1750" height="1075"></iframe>
</body>
</html>

<style>
    body {
    background-image: url('static/images/BoxOffice_Notebook.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', sans-serif;
    text-align: left;
    margin: 10px;
    padding: 0;
    height: 100vh;
}
</style>